# CMAKE specific excludes
[bB]uild
CMakeUserPresets.json
# CTestConfig.cmake

# Project specific excludes
.mxproject
.DS_Store

# Ignore eclipse base project managers
.cproject
.project

# Ignore the container customization
.devcontainer/devcontainer.json

# Editor specific stuff
.vscode
